body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-align: center;
  color: #40514E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  color: #ea86b6;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #ea86b6;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #e05297;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #e05297;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

/********CLASS SELECTORS*****/
.top-container {
  background-color: #fceef5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #ea86b6;
  padding: 50px 0 20px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.meeting-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}
.dance-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
  background: #e6739f;
  background-image: -webkit-linear-gradient(top, #e6739f, #c46a97);
  background-image: -moz-linear-gradient(top, #e6739f, #c46a97);
  background-image: -ms-linear-gradient(top, #e6739f, #c46a97);
  background-image: -o-linear-gradient(top, #e6739f, #c46a97);
  background-image: linear-gradient(to bottom, #e6739f, #c46a97);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f1d4d4;
  background-image: -webkit-linear-gradient(top, #f1d4d4, #cf84cf);
  background-image: -moz-linear-gradient(top, #f1d4d4, #cf84cf);
  background-image: -ms-linear-gradient(top, #f1d4d4, #cf84cf);
  background-image: -o-linear-gradient(top, #f1d4d4, #cf84cf);
  background-image: linear-gradient(to bottom, #f1d4d4, #cf84cf);
  text-decoration: none;
}
